<div class="panel panel-default">
  <div class="panel-heading">
    <b>Article</b>
  </div>
  <div class="panel-body">
    <%= form_for :q, html: {class: "form-inline"}, url: admin_articles_path do |f| %>
      <div class="form-group">
        <label class="sr-only" for="search_text">Entry</label>
        <%= f.text_field :text, class: "form-control", id: "search_text", placeholder: 'title/author' %>
      </div>
      <%= f.submit "Search", class: "btn btn-default" %>
    <% end %>

    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Author</th>
          <th>Category</th>
          <th>Update At</th>
        </tr>
      </thead>

      <tbody>
        <% @articles.each do |article| %>
        <tr>
          <td><%= article.id %></td>
          <td><%= article.title %></td>
          <td><%= article.author %></td>
          <td><%= article.category %></td>
          <td><%= article.updated_at %></td>
          <td><%= link_to 'Edit', edit_admin_article_path(article, page: params[:page], q: params[:q]) %></td>
          <td><%= link_to 'Delete', admin_article_path(article), method: :delete, data: { confirm: '确认删除吗？' } %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="panel-footer">
    <div>
      <%= paginate @articles %>
    </div>

    <div class="text-right">
      <%= link_to 'New Article', new_admin_article_path, class: 'btn btn-default' %>
    </div>
  </div>
</div>