
<!-- <div class="tools">
  <a href="plural_table_name" class="btn small">查看所有</a>
  <a href="singular_table_name" class="btn small success">新建</a>
</div> -->

<div class="panel panel-default">
  <div class="panel-heading">
    <b><%= table_name %></b>
  </div>
  <div class="panel-body">
    <%= form_for :q, html: {class: "form-inline"}, url: admin_<%= plural_file_name %>_path do |f| %>
      <div class="form-group">
        <label class="sr-only" for="search_text">Entry</label>
        <%= f.text_field :text, class: "form-control", id: "search_text", placeholder: 'title/author' %>
      </div>
      <%= f.submit "Search", class: "btn btn-default" %>
    <% end %>

    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Update At</th>
        </tr>
      </thead>

      <tbody>
        <%% @<%= plural_file_name %>.each do |<%= file_name %>| %>
        <tr>
          <td><%%= file_name %>.id %></td>
          <td><%%= file_name %>.updated_at %></td>
          <td><%%= link_to 'Edit', edit_admin_<%= file_name %>_path(<%= file_name %>, page: params[:page], q: params[:q]) %></td>
          <td><%%= link_to 'Delete', admin_<%= file_name %>_path(<%= file_name %>), method: :delete, data: { confirm: '确认删除吗？' } %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="panel-footer">
    <div>
      <%%= paginate @<%= plural_file_name %> %>
    </div>

    <div class="text-right">
      <%%= link_to 'New Article', new_admin_<%= file_name %>_path, class: 'btn btn-default' %>
    </div>
  </div>
</div>